 body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    border: 10px solid white;
    border-radius: 15px;
    width: 500px;
    height: 500px;
    flex-direction: column;
    overflow: hidden;
}

.screen{
    width: 500px;
    height: 150px;
    border: 1px solid snow;
    font-size: 4rem;
    text-align: right;
}

.row {
    display: flex;
}

.clear, .Del, .divide{
    border: none;
    border-radius: 4px;
    margin: 8px;
    width: 150px;
    padding: 10px;
    text-align: center;
    font-weight: 800;
    background-color: hsl(0, 0%, 30%);
    font-size: x-large;
}


.upperRow, .middleRow, .lowerRow{
    display: flex;
    width: 500px;
    /* border: 1px solid white; */
    height: 80px;
}

.multiply, .add, .sub, .one, .two, .three, .four, .five, .six, .seven, .eight, .nine{
    width: 110px;
    border: none;
    font-size: 3rem;
    background-color: hsl(0, 0%, 15%);
    border-radius: 4px;
    margin:7px;
    padding: 10px;
    font-weight: 700;
    
}

.zeroRow{
    display: flex;
    width: 500px;
    height: 65px;
    
}

.zero, .dot, .equals{
    border: 4px;
    border-radius: 4px;
    margin: 5px;
    padding-bottom: 10px;
    width: 160px;
    font-weight: 700;
    font-size: 3rem;
    background-color: hsl(0, 0%, 15%);
}

.operator-btn{
    background-color: hsl(35, 100%, 55%);
}

.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}

.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}

button{
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 50%);
}



